include ../mixins/mixins.pug
block variables

doctype html
html(lang="ru")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
		link(rel="stylesheet" href="libs/swiper/swiper.min.css" )
		//====убрать синий цвет у ссылок в сафари ========
		meta(name="format-detection" content="telephone=no")
		script(src='https://code.createjs.com/1.0.0/createjs.min.js')
		script(src='./js/digital_nomad_animation.js')
		script.
			var canvas, stage, exportRoot, anim_container, dom_overlay_container, fnStartAnimation;
			function init() {
				canvas = document.getElementById("canvas");
				anim_container = document.getElementById("animation_container");
				dom_overlay_container = document.getElementById("dom_overlay_container");
				var comp=AdobeAn.getComposition("B6B93CD006A5EF438F431B595F5B8317");
				var lib=comp.getLibrary();
				handleComplete({},comp);
			}
			function handleComplete(evt,comp) {
				
				var lib=comp.getLibrary();
				var ss=comp.getSpriteSheet();
				exportRoot = new lib.digital_nomad_animation();
				stage = new lib.Stage(canvas);	
				
				fnStartAnimation = function() {
					stage.addChild(exportRoot);
					createjs.Ticker.framerate = lib.properties.fps;
					createjs.Ticker.addEventListener("tick", stage);
				}	    
				
				AdobeAn.makeResponsive(true,'both',true,1,[canvas,anim_container,dom_overlay_container]);	
				AdobeAn.compositionLoaded(lib.properties.id);
				fnStartAnimation();
			}
		link(rel="stylesheet", href="css/main.css")
		style.

			@font-face{
				font-family: 'Roboto';
				src: url(./fonts/Roboto-Regular.woff2) format("woff2");
				font-weight: 400;
				font-style: normal;
				font-display: swap;
			}
			@font-face{
				font-family: 'Roboto';
				src: url(./fonts/Roboto-Bold.woff2) format("woff2");
				font-weight: 700;
				font-style: normal;
				font-display: swap;
			}
			@font-face{
				font-family: 'FiraSansExtraCondensed';
				src: url(./fonts/FiraSansExtraCondensed-Regular.woff2) format("woff2");
				font-weight: 400;
				font-style: normal;
				font-display: swap;
			}
			@font-face{
				font-family: 'FiraSansExtraCondensed';
				src: url(./fonts/FiraSansExtraCondensed-Medium.woff2) format("woff2");
				font-weight: 500;
				font-style: normal;
				font-display: swap;
			}
			
			
		title !{title}
		
	body(onload="init();" )
		
		block content
		
		
		
		//===jQuery===
		script(src="./libs/jquery/jquery-3.0.0.min.js")
		//===jQuery lazy===
		script(src="./libs/jquery.lazy.min.js")
		//===swiper===
		script(src="./libs/swiper/swiper.js")
		//=== custom scripts ===
		script(src="./js/main.js")